/* Start with our std style document. */
@import url(aspn.css);

/* Style top navbar. */
.banner {
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}
.banner td {
    font-weight: bold;
    font-size: 110%;
}

/* LaTeX2HTML-generated files navbar */
.navigation td {
    background-color: #99CCFF;
    font-weight: bold;
    font-size: 110%;
}

/* Set off Python code and quoted text. */
.verbatim {
    margin-left: 1em;
    color: #00008b;
}
