/* Start with our std style document. */
@import url(aspn.css);

/* Counter-act aspn.css's 70% font-size in body and the Python FAQ's
 * putting everything in a table.
 */
table.docinfo { font-size: 110%; }

/* MIME-type headers at the top of each FAQ HTML file were ugly. */
th.docinfo-name {
    text-align: right;
}
/* Set off Python code with color. */
pre {
    margin-left: 1em;
    color: #00008b;
}
