<div id="container2" style="width:100%; height:400px;"></div>

<script type="text/javascript"> 

    $(function () {
        $('#container2').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Répartition des imc utilisateurs'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: <%= raw @user_statistics.repartition_imc.as_json %>
            }]
        });
    });
</script>