<div id="container1" style="width:100%; height:400px;"></div>

<script type="text/javascript"> 
    $(function () { 
        $('#container1').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'Courbe des Poids Actuels et Idéaux des utilisateurs'
            },
            yAxis: {
                title: {
                    text: 'Poigs en kg'
                }
            },
            series: [{
                name: 'Poids Actuels',
                data: <%=@user_statistics.poids_ac_users%>
            }, {
                name: 'Poids Idéaux',
                data: <%=@user_statistics.poids_id_users%>
            }]
        });
    });
</script>