<h1>Application contrôle continu</h1>

<p>
  Page d'accueil pour l'application demandé en contrôle continu en Master 1 Informatique semestre 2 <br/>
  <a href="http://forge.info.univ-angers.fr/~gh/Scripts/cc2013.php">Sujet</a>.
</p>

<%= link_to "Enregistrer un utilisateur", signup_path, :class => "signup_button round" %>