/* Start with our std style document. */
@import url(aspn.css);

/* main heading need a little big of spacing (I don't like this part
  of the current aspn.css) */
h1, h2 {
    margin-top: 2em;
}
h3 {
    margin-top: 1em;
}

/* Don't want default blue link borders around little icons in links. */
a img {
    border: 0px;
}

/* Style top navbar. */
.banner {
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}
.banner td {
    font-weight: bold;
    font-size: 110%;
}

/* Set off quote code and command line samples. */
pre {
    margin-left: 1em;
    color: #8b0000;
}
code {
    color: #8b0000;
}

.footer {
    font-size: 90%;
    color: gray;
}


/* some special classes for the User Guide */
table.quicklist {
    margin-left: 20px;
}
table.quicklist th {
    width: 150px;
    font-size: 70%;
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid black;
}
table.quicklist td {
    padding-left: 5px; 
}
